service gnss_service /vendor/bin/hw/android.hardware.gnss-aidl-service-qti
    interface aidl android.hardware.gnss.IGnss/default
    interface aidl vendor.qti.gnss.ILocAidlGnss/default
    class hal
    user gps
    group system gps radio wakelock
    capabilities WAKE_ALARM BLOCK_SUSPEND

on post-fs-data
    # Create directories for location services
    mkdir /data/vendor/location 0770 gps gps
    mkdir /data/vendor/location/mq 0770 gps gps
    mkdir /data/vendor/location/xtwifi 0770 gps gps
    mkdir /dev/socket/location 0770 gps gps
    mkdir /dev/socket/location/mq 0770 gps gps
    mkdir /dev/socket/location/xtra 0770 gps gps
    mkdir /dev/socket/location/ehub 0770 gps gps
    mkdir /dev/socket/location/dgnss 0770 gps gps
